<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="./vendor/autoload.php">

    <testsuites>
        <testsuite name="offline-tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>live-calls</group>
        </exclude>
    </groups>
</phpunit>